/* universal selector
* {
    background-color: cyan;
    color: pink;
}  
*/


body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: darkslateblue;
}

/* id selector */
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

/* class selector */
span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

/* descendant selector */
footer a {
   color: #e63946;
}

/* adjacent selector */
h2 + button {
    font-size: 20px;
    background-color: #a8dadc;
}

/* direct child */
footer > a {
    color: #17999e;
}

/* attribute selector */
input [type="password"] {
    color: green;
}

a [href="google"] {
    color: blanchedalmond;
}

/* pseudo classes */
.post button:hover {
    background-color: red;
    color: white;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

.post:nth-of-type(3n) {
    background-color: #dfe8dc;
}

/* pseudo elements */
h2::first-letter{
    font-size: 35px;
}

p::first-line{
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

/*  !important ignores the specificity
button {
    background-color: aqua !important;
}
*/

